@font-face {
    font-family: "Helvetica";
    src: url(https://db.onlinewebfonts.com/c/9f5af5bd3b02c9efd39b88ea75ddad47?family=Helvetica);
}

*{
    margin: 0;
    padding: 0;
    font-family:"Helvetica";
    font-weight: 100;
}

/*Navigation*/
.logo {
    width: 230px;
}

nav {
    display: flex;
    justify-content: space-between;/*keep the logo to tle left corner and navigation to the right corner */
    flex-wrap: wrap;
    padding: 10px;
    font-weight: 100;
    font-size: 28px;
}

nav ul {
    display: flex;/*making the items to be shown horizontally*/
    list-style: none;/*Remove the bullets*/
}

nav ul li {
    padding-top: 15px;
    margin: 10px 20px; /*10px-top & bottom  20px-left and right*/
}

nav ul li a {
    color: #0e0e0e;
    text-decoration: none; /*Removes the underline of the link*/
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    background: #141413;
}

nav ul li a:hover::after {
    width: 100%;
}

/*Header*/
.header-content {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    padding: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s 0.5s forwards, slideIn 0.5s 0.5s forwards;
}

.header-text {
    margin-top: 5%;
}

.topic4{
    color: #000000;
    margin-top: 40px;
    font-size: 60px;
    font-weight: bold;
    padding-left: 20px;
    text-shadow: 2px 2px 2px rgba(117, 116, 112, 0.796); /* Shadow color */
}

.topic4 span {
    color: #ddb61a;
    font-weight: bold;
}

.header-text p{
    padding-left: 20px;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 100;
}

/*image*/
.girl{
    width: 100%;
    max-width: 600px;;
    height: auto;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    0% { transform: translateY(20px); }
    100% { transform: translateY(0); }
}
/*social media*/
.social-media{
    display: flex;
    justify-content: flex-start;
    margin: 30px 0px;
    padding-left: 20px;
}

.social-media a {
    font-size: 25px;
    margin-right: 15px;
    color: rgb(153, 150, 150);
    display: inline-block;
    transition: transform 0.5s;
}

.social-media a:hover {
    color: #0b0b0b;
    transform: translateY(-5px);
}

/*Contact me button*/
[class*="contact-button"] {
    background-color:#10100fc6;
    text-decoration: none;
    padding:15px 20px;
    border: none;
    cursor: pointer;
    margin: 20px;
    border-radius: 10px;
    font-weight: 100;
    font-size: 18px;
    color: #f3f2f2;
}

.contact-button:hover{
    background-color: #94949298;
    color: #000000;
}

/*Philosophy*/
.philosophy {
    display: flex;
    justify-content: space-between; /* Space between topic and content */
    align-items: center; /* Center vertically */
    padding: 100px;
    background-color:#ffffff;
    margin-top:180px;
    background-image: linear-gradient(rgba(152, 151, 151, 0.272),rgba(187, 163, 56, 0.21));
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.topic {
    color: #000000;
    text-align: center;
    padding: 30px;
    font-size: 35px;
    font-weight: bold;
    margin: 0; /* Remove default margin */
}

.content {
    color: #595757;
    border-radius: 20px;
    font-size: 22px;
    margin-left: 80px; /* Optional: space between topic and content */
    font-weight: 100;
    text-align: justify;
}

hr{
    border-color:#808080 ;/*This provides the fallback solid color, ensuring that if the browser doesn't support RGBA, it will still display the border with this color.*/
    border-color: rgba(222, 216, 216, 0.173);
    box-shadow:  2px 7px rgba(171, 152, 7, 0.465); /*second yellow line*/   
}

/*About Page*/
.about-me {
    display: flex;
    justify-content: space-between; /* Space between topic and content */
    align-items: center; /* Center vertically */
    padding: 100px;
    background-image: linear-gradient(to right,rgba(224, 181, 28, 0.579) ,rgba(192, 192, 185, 0.477));
    border: 1px solid #f6f5f5; /* Optional */
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
}

.topic2 {
    color: #000000;
    text-align: center;
    padding: 30px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(181, 179, 174, 0.927); /* Shadow color */
    animation: fade-in 1s ease-in forwards; /* Apply fade-in animation */
}

@keyframes fade-in {
    0% {
        opacity: 0; /* Start invisible */
    }
    100% {
        opacity: 1; /* End fully visible */
    }
}

.me{
    width: 300px;
    animation: mymove 2s ease-in-out forwards; 
}
@keyframes mymove {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0); 
    }
}

/*Skills and education*/
h1{
    font-weight: bold;
    font-size: 30px;
}

.container3 {
    display: flex;  /* Enables flexbox for the container */
    justify-content: space-between;  /* Space between the education and skills */
    align-items: flex-start;  /* Align the items to the top */
    padding: 50px;
}

.education, .skills {
    width: 50%;  /* Make both the education and skills sections take up 45% of the container */
}

/* Styling for the list in education */
.education li {
    padding-top: 15px;
    margin-bottom: 45px;  /* Adds space between each education item */
}

.education ul li span{
    padding-bottom: 5px;
}

/* Styling for progress bars */
.skill  {
    padding-top: 15px;
    margin-bottom: 20px;
}

.skill ul li{
    padding: 10px;
}

/*Hobbbies*/
.hobbies {
    padding: 10px 0;
    text-align: center;
}

.hobbies-list {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    justify-content: space-between; /* Spacing between items */
    padding: 50px;
}

.hobbies-list div {
    background-image: linear-gradient(rgba(152, 151, 151, 0.272), rgba(187, 163, 56, 0.493));
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-size: 17px;
    font-weight: 100;
    border-radius: 10px;
    transition: 0.5s, transform 0.5s;
    flex: 210px; /* Flexible item, minimum width of 250px */
    margin: 20px;
    max-width: 100%; /* Ensures items don't grow too wide */
}

.hobbies-list div i{
    font-size: 38px;
    color: #808080;
}

.hobbies-list .hobbies-topic {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #090909;
    font-weight: 500;
}

.hobbies-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.hobbies-list div:hover {
    background: #ffde59aa;
    transform: translateY(-30px);
}

/*Projects*/
.flex-container {
    display: flex; /* Enable Flexbox */
    justify-content: space-between; /* Space between items */
    flex-wrap: wrap; /* Allow items to wrap */
    align-items: center; /* Center items vertically */
    padding: 20px;
    animation: zoomIn 1.2s forwards;/*in here zoomIn is the animation name*/
}

@keyframes zoomIn { /*This should has the same name with the animation name*/
    from{
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.flex-item {
    color: rgb(99, 98, 98);
    font-size: 14px;
    font-weight: 100;
    padding: 10px;
    margin: 15px;
    text-align: center;
    max-width: 400px;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 0 12px rgba(71, 57, 7, 0.247);
    background-color: rgb(100, 100, 97); /*Fallback background*/
    background-color: rgba(219, 215, 194, 0.204);
}

.flex-item p{
    font-weight: bold;
}

h3{
    font-weight: 100;
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
}

.pic{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.flex-item:hover{
    box-shadow: 0 10px 35px rgba(26, 26, 26, 0.272);
    transform: scale(1.05);
}

.project-container{
    margin-top: 50px;
    background-image:linear-gradient(rgba(229, 202, 120, 0.349),#d1ae31b1);
}
.project-container :nth-child(3){
    background-color: #ffffff;
}
.project-container :nth-child(4){
    background-color: #ffffff;
}

.project_description{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.topic3 {
    flex-basis: 100%;
    padding: 20px;
    font-size: 24px;
}

.video-container {
    text-align: center;
    padding-left: 30px;
    flex-basis: 100%;
    margin-bottom: 20px;
}

video {
    width: 100%;
    min-width: 380px;
}

.content3 {
    font-size: 18px;
    color: #595757;
    font-weight: 100;
    margin-left: 20px;
    text-align: justify;
}

/*Blogs*/
.blog-posts {
    padding: 20px;

}

.blog-flex-container {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-item {
    flex: 1 1 45%;
    max-width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.blog-content p{
    font-size: 14px;
    padding: 15px 0px;
}

.blog-pic {
    width: 100%;
    height: auto;
}

.blog-content {
    padding: 15px;
}

.read-more {
    text-decoration: none;
    color: #d3bb09;
    font-weight: bold;
}

/* Contact */
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:0 50px;
}

.form-section, .contact-details {
    width: 44%;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

label {
    margin-bottom: 8px;
}

input, textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 15px;
}

button {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    background-color: #ceab0ee7;
    color: #fffbfb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ceab0e9e;
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.google{
    color: #000000;
}
.contact-details p{
    margin-bottom: 15px;
    font-size: 16px;
}

.input{
    border: 1px solid #808080;
}
/* When input is valid (pseudo-class for validation) */
.input:valid {
    border-color: #10c510;
}

/* When input is invalid */
.input:invalid {
    border-color: rgb(206, 201, 201);
}

a[href ^="https"]{       /*Attribute selector -This will remove the underline in all the links with https in here it's https*/
    text-decoration: none;
} 

.download-cv {
    width: 130px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #777879;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.download-cv:hover {
    background-color: #77787998;
}

.contact-details img{
    width: 400px;
    animation: move 2s ease-in forwards; 
}
@keyframes move {
    0% {
        transform: translateX(100%);/*Moves from right (If you want to moves the image from left then put (minus)-100% */
    }
    100% {
        transform: translateX(0); 
    }
}

/*Footer*/
footer{
    text-align: center;
    line-height: 40px;
}

.logo2{
    width: 150px;
    display: block; /*When an element has a block display value, it will start on a new line and take up the full width available by default. This means that other elements will be pushed down or up to make room for it.*/
    margin: auto; /*This will make the logo to be center*/
}

/*Footer social media*/
.social-media2 a {
    text-decoration: none;
    font-size: 22px;
    margin-right: 15px;
    color: #c4a115;
    display: inline-block;
    transition: transform 0.5s;
}

.social-media2 a:hover {
    color: #959494;
    transform: translateY(-5px); /*The icons will move up a little*/
}

footer ul li :hover{ 
    color: #000000;
}

footer ul li {
    display: inline-block; /*Moving all the elements horizontally*/
    padding: 6px;
    gap: 10px;
}

footer ul li a{
    text-decoration: none; /*Will reomve the underline of the link*/
    color: #716f6f;
}
footer ul li a:hover{
    color: black;
}

footer > p{
    color: #716f6fa9;
}
footer p i{
    color:#ddb61a;
}

/*Responsive page*/
/* Smartphones (portrait and landscape) */
@media only screen and (max-width:600px) {
/*Topics*/      
    .topic {
        padding: 15px;
        font-size: 18px;
    }

    .topic2{
        font-size: 30px;
    }

    .topic3{
        font-size: 20px;
    }

    .topic4{
        font-size: 50px;
    }

/*nav */
    nav {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 200px; /* Smaller logo size on small screens */
    }

    nav ul {
        flex-direction: row;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0; /* Adjust spacing between navigation items */
    }

    nav ul li a {
        margin-right: 17px;
        font-size: 15px; 
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .header-text p4{
        font-size: 40px;
    }

    .header-text p{
        font-size: 14px; 
    }

    .social-media{
        justify-content: center;
    }
  
    [class*="contact-button"] {
        justify-content: center;
        font-size: 14px;
    }

/*image*/
    .girl{
        max-width: 60%;
        padding-top: 30px;
    }
 
/*Philosophy*/
    .philosophy {
        position: relative;
        padding: 35px;
        margin-top: 80px;
    }

    .content {
        font-size: 14px;
        margin-left: 30px;
    }

/*About me*/
    h1{
        font-size: 24px;
    }
    .about-me{
        flex-direction: column;
        line-height: 20px;
        padding: 40px;
    }
    .me{
        width: 200px;
        height: 200px;
        margin-bottom: 30px;   
        animation: zoomIn 1.2s forwards;/*in here zoomIn is the animation name*/
    }

    .container3{
        flex-direction: column;
    }

    .education, .skills {
        width: 100%;  /* Make both the education and skills sections take up 45% of the container */
    }
    .hobbies-list div i{
        font-size: 24px;
    }

    .hobbies-list div p1{
        font-size: 20px;
    }

    .hobbies-list div p{
        font-size: 14px;
    }

/*Projects*/
    .flex-container {
        justify-content: center;
        text-align: justify;
    }    
    .content3{
        font-size: 14px;
    }

    .project_description {
        flex-direction: column;
    }
    
    .video-container {
        justify-content: center;
    }

    video {
        width: 100%;
        max-width: 270px;
        padding-top: 20px;
    }

/*Contact form*/
    .container {
        margin-top: 0;
        padding: 0 30px;
    }   
    
    .form-section, .contact-details {
        width: 90%;
        padding: 0;
    }

    .contact-details {
        margin-top: 40px;
        padding-bottom: 30px;
        align-items: end;
    }
    .contact-details img{
        width: 300px;
    }

/*Footer*/
    .logo2{
        display: block;
        margin: 0 auto;
        width: 100px;;
    }   
    
    .social-media2 a {
        font-size: 16px;
    }

    footer ul li a{
        font-size: 12px;
    } 

    footer p{
        font-size: 11px;
    }
}


/* Tablets (portrait and landscape) */
@media (min-width: 601px) and (max-width: 1024px) {
/*Topics*/      
    .topic {
        padding: 15px;
        font-size: 24px;
    }

    .topic2{
        font-size: 34px;
    }

    .topic3{
        font-size: 18px;
    }

    .topic4{
        font-size: 50px;
    }

/*nav */
    nav {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 180px; /* Smaller logo size on small screens */
    }

    nav ul {
        flex-direction: row;
        align-items: center;
    }

    nav ul li {
        gap: 20px; /* Adjust spacing between navigation items */
    }

    nav ul li a {
        margin-right: 17px;
        font-size: 18px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .header-text p{
        font-size: 18px;
    }

    .social-media{
        justify-content: center;
    }
  
    [class*="contact-button"] {
        justify-content: center;
        font-size: 16px;
    }

    /*image*/
    .girl{
        max-width: 60%;
        padding-top: 30px;
    }
 
/*Philosophy*/
    .philosophy {
        position: relative;
        padding: 35px;
        margin-top: 80px;
    }

    .content {
        font-size: 16px;
        margin-left: 30px;
    }

/*About me*/
    .about-me{
        flex-direction: column;
        line-height: 20px;
        padding: 40px;
    }
    .me{
        width: 200px;
        height: 200px;
        margin-bottom: 30px;   
        animation: zoomIn 1.2s forwards;/*in here zoomIn is the animation name*/
    }

    .container3{
        flex-direction: column;
    }

    .education, .skills {
        width: 100%;  /* Make both the education and skills sections take up 45% of the container */
    }
    .hobbies-list div i{
        font-size: 24px;
    }
    .hobbies-list div p{
        font-size: 14px;
    }

/*Projects*/
    .flex-container {
        justify-content: center;
        text-align: justify;
    }    

    .content3{
        font-size: 16px;
    }

    .project_description {
        flex-direction: column;
    }
    
    .video-container {
        justify-content: center;
    }

    video {
        width: 100%;
        max-width: 270px;
        padding-top: 20px;
    }

/*Contact form*/
    .container {
        margin-top: 0;
        padding: 0 30px;
    }   
    
    .form-section, .contact-details {
        width: 90%;
        padding: 0;
    }

    .contact-details {
        margin-top: 40px;
        padding-bottom: 30px;
        align-items: end;
    }
    .contact-details img{
        width: 300px;
    }

/*Footer*/
    .logo2{
        display: block;
        margin: 0 auto;
        width: 100px;;
    }   
    
    .social-media2 a {
        font-size: 16px;
    }

    footer ul li a{
        font-size: 16px;
    } 
}


